.container {
  background-image: url('https://images.unsplash.com/photo-1472289065668-ce650ac443d2?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 80px; 
}

.content {
  padding: 20px; 
  border-radius: 10px; 
}

.links {
  margin-top: 20px;
}

.link {
  margin-right: 20px;
  text-decoration: underline;
  color: #131718;
  font-weight: normal;
}

.email-input {
  padding: 20px; 
  font-size: 60px; 
  margin-top: 15px;
  border: none;
  border-radius: 5px;
}

.enter-button {
  padding: 20px; 
  font-size: 24px;
  margin-top: 10px;
  border:#1996d4;
  border-radius: 10px; 
  cursor: pointer;
  color: hsl(0, 6%, 7%); 
  background-color: #1996d4; 
  transition: background-color 0.3s ease-in-out;
  justify-content:left;
}

.enter-button:hover {
  background-color: #990ee9;
}
.explore-button{
  padding: 20px 35px; 
  font-size: 40px; 
  margin-top: 10px; 
  border: none;
  border-radius: 45px; 
  cursor: pointer;
  color: rgb(22, 25, 22);
  background-color: #e5ff00; 
  transition: background-color 0.3s ease-in-out;
}

.explore-button:hover {
  background-color: #19e8d0; 
}

.message-label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px; /* Adjust as needed */
}

.message-input {
  width: 100%;
  padding: 10px;
  font-size: 60px;
  margin-top: 5px; /* Adjust as needed */
  border: 1px solid #ccc;
  border-radius: 5px;
}


